.layout-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  min-height: 100vh;
}

.right-container {
  background-color: pink;
  width: 50%;
  min-height: 100vh;
}

.main-title {
  font-size: 3rem;
  margin-bottom: 0.7em;
}

.main-description {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.4;
}

.main {
  margin-top: 4rem;
}

.post-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.post-list-container {
  list-style: none;
  font-weight: 600;
  padding: 0;
}

.post-list-container li {
  font-size: 1rem;
  padding: 0.6rem;
}
