.layout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.main-title {
  font-size: 4rem;
  margin-bottom: 0.7em;
}

.main-description {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
}

.main {
  margin-top: 4rem;
}

.post-title {
  font-size: 2rem;
  font-weight: 700;
}

.post-list-container {
  list-style: none;
  font-weight: 600;
  padding: 0;
}

.post-list-container li {
  font-size: 1.5rem;
  padding: 0.6rem;
}
