.navbar-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  transition: opacity 0.2s ease-in-out;
  background: url(../../static/icons/github.svg) no-repeat center;
}

.navbar-github-link:hover::before {
  opacity: 0.6;
}

[data-theme="dark"] .navbar-github-link::before {
  background: url(../../static/icons/github-dark.svg) no-repeat center;
}
